{% extends 'CivixFrontBundle::layout.html.twig' %}

{% block page_title %}Petitions marked as spam{% endblock %}

{% block content %}
    <h1 class="page-header">Manage petitions</h1>
    <p>
        Checked:
    <form action="{{ path('civix_front_petitions_authors_ban') }}" method="post"  class="form-horizontal mass-action pull-left">
        <input type="hidden" name="_mass_token" value="{{ csrf_token('users_ban') }}">
        <button type="submit" class="btn btn-warning">
            <i class="glyphicon glyphicon-alert"></i> Ban users
        </button>
    </form>

    <form action="{{ path('civix_front_petitions_delete') }}" method="post" class="form-horizontal mass-action">
        <input type="hidden" name="_mass_token" value="{{ csrf_token('petitions_delete') }}">
        <button type="submit" class="btn btn-danger">
            <i class="glyphicon glyphicon-remove"></i> Remove petitions
        </button>
    </form>
    </p>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    {# sorting of properties based on query components #}
                    <th>
                        <label for="checkAll">
                            <input type="checkbox" id="checkAll">
                        </label>
                    </th>
                    <th>{{ knp_pagination_sortable(pagination, 'Id', 'p.id') }}</th>
                    <th>User Name</th>
                    <th>Official Group Title</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for petition in pagination %}
                    <tr>
                        <td><input type="checkbox" name="petition[]" value="{{ petition.id }}"></td>
                        <td>{{ petition.id }}</td>
                        <td>
                            <a href="{{ path('civix_front_user_petitions', {id: petition.user.id}) }}">
                                {{ petition.user.firstname }} {{ petition.user.lastname }}
                            </a>
                        </td>
                        <td>{{ petition.group.officialTitle }}</td>
                        <td>
                            {% if petition.spamMarks.count() >= 4 %}
                            <form class="form-link" action="{{ path('civix_front_petition_delete', {'id': petition.id}) }}" method="POST">
                                <input type="hidden" name="_token" value="{{ csrf_token('petition_delete') }}">
                                <button type="submit" class="btn-link">
                                    <i class="glyphicon glyphicon-remove"></i>
                                    Remove petition
                                </button>
                            </form>
                            {% endif %}
                            {% if petition.user.enabled %}
                            <form class="form-link" action="{{ path('civix_front_user_ban', {'id': petition.user.id}) }}" method="POST">
                                <input type="hidden" name="_token" value="{{ csrf_token('user_ban') }}">
                                <button type="submit" class="btn-link">
                                    <i class="glyphicon glyphicon-remove"></i>
                                    Ban user
                                </button>
                            </form>
                            {% endif %}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5" style="text-align: center">Table is empty.</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {# display navigation #}
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block foot_script_assetic %}
    {{ parent() }}
    <script>
        $(function() {
            $("#checkAll").change(function() {
                $('input:checkbox').not(this).prop('checked', this.checked);
            });
            $(".mass-action").submit(function() {
                var form = $(this),
                    data = $('input:checkbox:checked[name="petition[]"]')
                        .map(function() {return $(this).val()})
                        .get();

                if (data.length) {
                    for(var i = 0; i < data.length; i++) {
                        $("<input>", {
                            type: "hidden",
                            name: "petition[]",
                            value: data[i]
                        }).appendTo(form);
                    }
                    return true;
                } else {
                    return false;
                }
            })
        });
    </script>
{% endblock foot_script_assetic %}
